body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div {
    width: 700px;
    height: 700px;
    border: black solid 3px;
    background-image: url("photographer.jpg");
    background-size: cover;
    background-position: 20% center;
    background-repeat: no-repeat;
}