body    {
    background-color: black;
}
table   {
    margin: auto;
    margin-top: 20px;
    border: 2px solid lime;
    background-color: black;
    border-spacing: 0px;
    border-collapse: collapse;
}
th  {
    background-color: lime;
    border-bottom: 2px solid black;
    text-align: left;
    padding: 10px;
}
td  {
   
    border: 1px solid lime;
}
tr:nth-child(even)  {
    background-color: black;
    color:lime
}
tr:nth-child(odd)   {
    background-color: lime;
    color: black;
}