div div    {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
.container {
    background-color: gray;
    width: 300px;
    position: relative;
    left: 30%;
}
div div:first-child    {
background-color: yellow;
position: absolute;
left: 20px;
}
div div:nth-child(2)    {
background-color: lightseagreen;
position: sticky;
top: 20%;
left:20%
}
div div:last-child    {
background-color: lightblue;
position: relative;
bottom: 10px;
left: 50%;
}